<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <h1>Contacts:</h1>
    <ul>
      <% if (contacts.length) { %>
        <% contacts.forEach(({ contact_link, contact_name }) => { %>
          <li>
            <a href="<%= contact_link, %>"><%= contact_name %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>