<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <h1>Posts:</h1>
    <ul>
      <% if (posts.length) { %>
        <% posts.forEach(({ post_id, post_title, post_text, post_author, post_date, post_imglink }) => { %>
          <li>
            <article class="posts__content-wrap">
              <div class="posts__img-wrap">
                <img class="lazy" data-src="<%= post_imglink %>" alt="post main img">
              </div>
              <div class="posts__info-wrap">
                <h2>
                  <a href="/posts/<%= post_id %>"><%= post_title %></a>
                </h2>
                <p><%= post_text %></p>
                <div class="info">
                  <span><small>Date:</small> <%= post_date.toLocaleDateString('en', {year: 'numeric', month: 'long', day: 'numeric'}) %></span>
                  <span><%= post_author %></span>
                </div>
                <button class="btn-delete" data-id="<%= post_id %>">
                  <i class="fas fa-trash-alt" data-id="<%= post_id %>"></i>
                </button>
              </div>
            </article>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </main>  

  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE',
        }).then(() => {
          window.location.reload();
        });
      }
    });
  </script>
  <%- include('./partials/footer.ejs') %>
</body>
</html>